{% extends 'base.html.twig' %}

{% block title %}Edit Subthemes{% endblock %}

{% block body %}
    <h1>Edit Subthemes</h1>

    {{ include('subthemes/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('subthemes_index') }}">back to list</a>

    {{ include('subthemes/_delete_form.html.twig') }}
{% endblock %}
