{% extends 'base.html.twig' %}

{% block title %}New Ressources{% endblock %}

{% block body %}
    <div class="contenant">
        <div class="contenu">

        			{% include "headpage.html.twig" %}

            <div class="big-buttons">
                    <div></div>
                    <div class="admin-btn-static">Ajouter une ressource</div>
                    <div></div>

            </div>

    {{ include('ressources/_form.html.twig') }}

    <a href="{{ path('ressources_index') }}"><i class="far fa-arrow-alt-circle-left"></i></a>

        </div>
    </div>
{% endblock %}
